# Path to your modpack. Can be either relative or absolute.
# Example: "./Some Modpack" or "C:\Minecraft\Some Modpack"
# Can also be a combination of CurseForge projectID and fileID. Example for Survive Create Prosper 4 4.6.7: "390331,3215793"
modpackDir = "Survive Create Prosper 4 - Copy"

# List of client-only mods to delete from serverpack.
# No need to include version specifics. Must be the filenames of the mods, not their project names on CurseForge!
# Example: [AmbientSounds,ClientTweaks,PackMenu,BetterAdvancement,jeiintegration]
clientMods = [AmbientSounds, BackTools, BetterAdvancement, BetterPing, cherished, ClientTweaks, Controlling, DefaultOptions, durability, DynamicSurroundings, itemzoom, jei-professions, jeiintegrations, JustEnoughResources, MouseTweaks, Neat, OldJavaWarning, PackMenu, preciseblockplacing, SimpleDiscordRichPresence, SpawnerFix, TipTheScales, WorldNameRandomizer]

# Name of directories to include in serverpack.
# When specifying "saves/world_name", "world_name" will be copied to the base directory of the serverpack
# for immediate use with the server. Automatically set when projectID,fileID for modpackDir has been specified.
# Example: [config,mods,scripts]
copyDirs = [config, defaultconfigs, mods, scripts, seeds]

# Whether to install a Forge/Fabric server for the serverpack. Must be true or false.
# Default value is true.
includeServerInstallation = true

# Path to the Java executable. On Linux systems it would be something like "/usr/bin/java".
# Only needed if includeServerInstallation is true.
javaPath = "C:/Program Files/AdoptOpenJDK/jdk-8.0.275.1-hotspot/jre/bin/java.exe"

# Which Minecraft version to use. Example: "1.16.5".
# Automatically set when projectID,fileID for modpackDir has been specified.
# Only needed if includeServerInstallation is true.
minecraftVersion = "1.16.5"

# Which modloader to install. Must be either "Forge" or "Fabric".
# Automatically set when projectID,fileID for modpackDir has been specified.
# Only needed if includeServerInstallation is true.
modLoader = "Forge"

# The version of the modloader you want to install. Example for Fabric="0.7.3", example for Forge="36.0.15".
# Automatically set when projectID,fileID for modpackDir has been specified.
# Only needed if includeServerInstallation is true.
modLoaderVersion = "36.1.4"

# Include a server-icon.png in your serverpack. Must be true or false.
# Customize server-icon.png in ./server_files.
# Dimensions must be 64x64!
# Default value is true.
includeServerIcon = true

# Include a server.properties in your serverpack. Must be true or false.
# Customize server.properties in ./server_files.
# If no server.properties is provided but is set to true, a default one will be provided.
# Default value is true.
includeServerProperties = true

# Include start scripts for windows and linux systems. Must be true or false.
# Customize files beginning with "start-" in ./server_files.
# Default value is true.
includeStartScripts = true

# Create zip-archive of serverpack. Must be true or false.
# Default value is true.
includeZipCreation = true