stages:
  - Tests
  - Documentation
  - Release
  - Build Release
#  - Other

variables:
  project_name: "$CI_PROJECT_NAME"
  SEMANTIC_RELEASE_PACKAGE: "$CI_PROJECT_NAME"
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"
  GRADLE_USER_HOME: "$CI_PROJECT_DIR/.gradle"

services:
  - name: ghcr.io/griefed/gitlab-ci-cd:2.2.1
    alias: docker

workflow:
  rules:
    - if: '$CI_MERGE_REQUEST_EVENT_TYPE == "detached"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: '$CI_COMMIT_TITLE =~ /^RELEASE:.+$/ && $CI_COMMIT_BRANCH' # && $CI_COMMIT_TAG == null
      when: never
    - when: always

Build Test:
  stage: Tests
  image: ghcr.io/griefed/baseimage-ubuntu-jdk17-kotlin:1.0.0
  before_script:
    - echo "**** Running in $CI_JOB_ID ****"
    - echo "**** Java location ****"
    - which java
    - echo "**** Java version ****"
    - java -version
    - echo "**** Allowing execution of gradlew ****"
    - chmod +x gradlew
  script:
    - echo "**** Building ServerPackCreator ****"
    - "./gradlew build --info --full-stacktrace"
  retry: 1
  rules:
    - if: '$CI_SERVER_HOST == "git.griefed.de"'
  artifacts:
    when: always
    name: "$CI_COMMIT_BRANCH-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME"
    expose_as: "Gradle-Test-Artifacts"
    paths:
      - serverpackcreator-api/build
      - serverpackcreator-gui/build
      - serverpackcreator-cli/build
      - serverpackcreator-web/build
      - serverpackcreator-app/build
      - serverpackcreator-updater/build
      - serverpackcreator-web-frontend/dist
      - serverpackcreator-plugin-example/build
    expire_in: 1 week
  cache:
    - key:
        files:
          - serverpackcreator-api/build.gradle.kts
          - gradle/gradle-wrapper.properties
      paths:
        - .gradle
    - key:
        files:
          - serverpackcreator-web-frontend/package.json
      paths:
        - serverpackcreator-web-frontend/.quasar
        - serverpackcreator-web-frontend/node_modules
        - serverpackcreator-web-frontend/node

# TODO reactivate with milestone 6
#Docker Test:
#  stage: Tests
#  image: ghcr.io/griefed/gitlab-ci-cd:2.2.1
#  needs:
#    - job: Build Test
#      artifacts: true
#      optional: false
#  before_script:
#    - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
#    - docker buildx create --use --name grfdbuilder
#  script:
#    - docker buildx build --no-cache --platform linux/amd64,linux/arm/v7,linux/arm64
#      --file Dockerfile .
#  retry: 1
#  rules:
#    - if: '$CI_SERVER_HOST == "git.griefed.de"' # Remove once GitLab no longer throws javax.net.ssl.SSLHandshakeException: Remote host terminated the handshake

Generate Release:
  stage: Release
  image: ghcr.io/griefed/gitlab-ci-cd:2.2.1
  needs:
    - job: Build Test
      artifacts: false
#    - job: Docker Test
#      artifacts: false
  script:
    - npx semantic-release
  rules:
    - if: '$CI_COMMIT_BRANCH == "alpha" && $CI_COMMIT_TITLE !~ /^RELEASE:.+$/ && $CI_SERVER_HOST == "git.griefed.de"'
    - if: '$CI_COMMIT_BRANCH == "beta" && $CI_COMMIT_TITLE !~ /^RELEASE:.+$/ && $CI_SERVER_HOST == "git.griefed.de"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_COMMIT_TITLE !~ /^RELEASE:.+$/ && $CI_SERVER_HOST == "git.griefed.de"'

Build Release:
  stage: Build Release
  image: ghcr.io/griefed/baseimage-ubuntu-jdk17-kotlin:1.0.0
  needs:
    - job: Build Test
      artifacts: false
      optional: false
    - job: release_job
      optional: true
      artifacts: false
  before_script:
    - echo "**** Running in $CI_JOB_ID ****"
    - echo "**** Java location ****"
    - which java
    - echo "**** Java version ****"
    - java -version
    - echo "**** Allowing execution of gradlew ****"
    - chmod +x gradlew
  script:
    - echo "**** Building ServerPackCreator ****"
    - "./gradlew build -Pversion=${CI_COMMIT_TAG} --info --full-stacktrace -x :serverpackcreator-api:jvmTest -x :serverpackcreator-web:test"
    - echo "**** Listing build directory ****"
    - LC_COLLATE=C ls -ahl --group-directories-first --color=auto */build
    - LC_COLLATE=C ls -ahl --group-directories-first --color=auto */build/*
    - echo "**** Uploading packages ****"
    - 'curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file serverpackcreator-app/build/libs/serverpackcreator-app-${CI_COMMIT_TAG}.jar "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${CI_PROJECT_NAME}/${CI_COMMIT_TAG}/${CI_PROJECT_NAME}-${CI_COMMIT_TAG}.jar"'
    - echo "**** Create asset links ****"
    - 'curl --request POST --header "PRIVATE-TOKEN: ${GITLAB_TOKEN}" --data tag_name="${CI_COMMIT_TAG}" --data name="${CI_PROJECT_NAME}-${CI_COMMIT_TAG}.jar" --data url="${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${CI_PROJECT_NAME}/${CI_COMMIT_TAG}/${CI_PROJECT_NAME}-${CI_COMMIT_TAG}.jar" --data link_type="package" "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/releases/${CI_COMMIT_TAG}/assets/links"'
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+-(alpha|beta)\.\d+$/ && $CI_SERVER_HOST == "git.griefed.de"'
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/ && $CI_SERVER_HOST == "git.griefed.de"'
  cache:
    - key:
        files:
          - build.gradle
          - gradle/gradle-wrapper.properties
      paths:
        - .gradle
      policy: pull
    - key:
        files:
          - frontend/package.json
      paths:
        - frontend/.quasar
        - frontend/node_modules
        - frontend/node
      policy: pull

Sign Java Publication:
  stage: Build Release
  image: ghcr.io/griefed/baseimage-ubuntu-jdk17-kotlin:1.0.0
  needs:
    - job: Build Release
      artifacts: false
      optional: false
  before_script:
    - echo "**** Running in $CI_JOB_ID ****"
    - echo "**** Java location ****"
    - which java
    - echo "**** Java version ****"
    - java -version
    - echo "**** Allowing execution of gradlew ****"
    - chmod +x gradlew
  script:
    - echo "**** Publishing Maven Artifacts ****"
    - "./gradlew dokkaJavadocJar signJvmPublication -Pversion=${CI_COMMIT_TAG} --info --stacktrace -x :serverpackcreator-api:jvmTest -x :serverpackcreator-web:test"
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+-beta\.\d+$/ && $CI_SERVER_HOST == "git.griefed.de"'
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/ && $CI_SERVER_HOST == "git.griefed.de"'
  cache:
    - key:
        files:
          - serverpackcreator-api/build.gradle.kts
          - gradle/gradle-wrapper.properties
      paths:
        - .gradle
      policy: pull

Publish GitHub:
  stage: Build Release
  image: ghcr.io/griefed/baseimage-ubuntu-jdk17-kotlin:1.0.0
  needs:
    - job: Sign Java Publication
      optional: false
      artifacts: true
  script:
    - echo "**** Publishing Maven Artifacts to GitHub ****"
    - "./gradlew publishAllPublicationsToGitHubPackagesRepository -Pversion=${CI_COMMIT_TAG} --info --stacktrace -x :serverpackcreator-api:jvmTest -x :serverpackcreator-web:test"
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+-beta\.\d+$/ && $CI_SERVER_HOST == "git.griefed.de"'
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/ && $CI_SERVER_HOST == "git.griefed.de"'
  cache:
    - key:
        files:
          - serverpackcreator-api/build.gradle.kts
          - gradle/gradle-wrapper.properties
      paths:
        - .gradle
      policy: pull

Publish GitLab:
  stage: Build Release
  image: ghcr.io/griefed/baseimage-ubuntu-jdk17-kotlin:1.0.0
  needs:
    - job: Sign Java Publication
      optional: false
      artifacts: true
  script:
    - echo "**** Publishing Maven Artifacts to GitLab ****"
    - "./gradlew publishAllPublicationsToGitLabRepository -Pversion=${CI_COMMIT_TAG} --info --stacktrace -x :serverpackcreator-api:jvmTest -x :serverpackcreator-web:test"
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+-beta\.\d+$/ && $CI_SERVER_HOST == "git.griefed.de"'
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/ && $CI_SERVER_HOST == "git.griefed.de"'
  cache:
    - key:
        files:
          - serverpackcreator-api/build.gradle.kts
          - gradle/gradle-wrapper.properties
      paths:
        - .gradle
      policy: pull

Publish GitGriefed:
  stage: Build Release
  image: ghcr.io/griefed/baseimage-ubuntu-jdk17-kotlin:1.0.0
  needs:
    - job: Sign Java Publication
      optional: false
      artifacts: true
  script:
    - echo "**** Publishing Maven Artifacts GitGriefed ****"
    - "./gradlew publishAllPublicationsToGitGriefedRepository -Pversion=${CI_COMMIT_TAG} --info --stacktrace -x :serverpackcreator-api:jvmTest -x :serverpackcreator-web:test"
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+-beta\.\d+$/ && $CI_SERVER_HOST == "git.griefed.de"'
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/ && $CI_SERVER_HOST == "git.griefed.de"'
  cache:
    - key:
        files:
          - serverpackcreator-api/build.gradle.kts
          - gradle/gradle-wrapper.properties
      paths:
        - .gradle
      policy: pull

Publish OSSRH:
  stage: Build Release
  image: ghcr.io/griefed/baseimage-ubuntu-jdk17-kotlin:1.0.0
  needs:
    - job: Sign Java Publication
      optional: false
      artifacts: true
  script:
    - echo "**** Publishing Maven Artifacts to OSSRH ****"
    - "./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository -Pversion=${CI_COMMIT_TAG} --info --stacktrace -x :serverpackcreator-api:jvmTest -x :serverpackcreator-web:test"
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+-beta\.\d+$/ && $CI_SERVER_HOST == "git.griefed.de"'
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/ && $CI_SERVER_HOST == "git.griefed.de"'
  cache:
    - key:
        files:
          - serverpackcreator-api/build.gradle.kts
          - gradle/gradle-wrapper.properties
      paths:
        - .gradle
      policy: pull

# TODO reactivate with milestone 6
#Build Docker Release:
#  stage: Build Release
#  image: ghcr.io/griefed/gitlab-ci-cd:2.2.1
#  needs:
#    - job: Build Test
#      artifacts: true
#      optional: false
#  before_script:
#    - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_TOKEN" docker.io
#    - docker login -u "$DOCKERHUB_USER" -p "$GITHUB_TOKEN" ghcr.io
#    - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
#    - docker buildx create --use --name grfdbuilder
#  script:
#    - docker buildx build --push --no-cache --platform linux/amd64,linux/arm/v7,linux/arm64
#      --tag "ghcr.io/$DOCKERHUB_USER/$DOCKERHUB_REPO:$CI_COMMIT_TAG"
#      --tag "ghcr.io/$DOCKERHUB_USER/$DOCKERHUB_REPO:latest"
#      --tag "index.docker.io/$DOCKERHUB_USER/$DOCKERHUB_REPO:$CI_COMMIT_TAG"
#      --tag "index.docker.io/$DOCKERHUB_USER/$DOCKERHUB_REPO:latest"
#      --build-arg VERSION=$CI_COMMIT_TAG
#      --file Dockerfile .
#  rules:
#    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/ && $CI_SERVER_HOST == "git.griefed.de"'

# TODO reactivate with milestone 6
#Build Docker PreRelease:
#  stage: Build Release
#  image: ghcr.io/griefed/gitlab-ci-cd:2.2.1
#  needs:
#    - job: Build Test
#      artifacts: true
#      optional: false
#  before_script:
#    - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_TOKEN" docker.io
#    - docker login -u "$DOCKERHUB_USER" -p "$GITHUB_TOKEN" ghcr.io
#    - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
#    - docker buildx create --use --name grfdbuilder
#  script:
#    - docker buildx build --push --no-cache --platform linux/amd64,linux/arm/v7,linux/arm64
#      --tag "ghcr.io/$DOCKERHUB_USER/$DOCKERHUB_REPO:$CI_COMMIT_TAG"
#      --tag "index.docker.io/$DOCKERHUB_USER/$DOCKERHUB_REPO:$CI_COMMIT_TAG"
#      --build-arg VERSION=$CI_COMMIT_TAG
#      --file Dockerfile .
#  rules:
#    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+-(alpha|beta)\.\d+$/ && $CI_SERVER_HOST == "git.griefed.de"'

pages:
  stage: Documentation
  image: ghcr.io/griefed/baseimage-ubuntu-jdk17-kotlin:1.0.0
  allow_failure: true
  before_script:
    - which java
    - chmod +x gradlew
  script:
    - "./gradlew :serverpackcreator-api:dokkaHtml -Pversion='' --full-stacktrace --info -x test"
    - cp -Rf serverpackcreator-api/build/dokka public
    - LC_COLLATE=C ls -ahl --group-directories-first --color=auto public
  artifacts:
    paths:
      - public
    expire_in: 1 week
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/ && $CI_SERVER_HOST == "git.griefed.de"'

release_job:
  stage: Release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  script:
    - echo "Running the release job to mirror release generation from parent repository."
  release:
    tag_name: $CI_COMMIT_TAG
    name: 'Release $CI_COMMIT_TAG'
    description: '## Changelogs for this release available at:<br><br>1. **[GitHub](https://github.com/Griefed/ServerPackCreator/releases/tag/$CI_COMMIT_TAG)**<br>2. **[GitGriefed](https://git.griefed.de/Griefed/ServerPackCreator/-/releases/$CI_COMMIT_TAG)**<br>3. **[CHANGELOG.md](https://gitlab.com/Griefed/ServerPackCreator/-/blob/$CI_COMMIT_TAG/CHANGELOG.md)**<br>'
  rules:
    - if: '$CI_COMMIT_TAG && $CI_SERVER_HOST == "gitlab.com"'
