### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project

### JDeveloper ###

# default application storage directory used by the IDE Performance Cache feature
.data/

# used for ADF styles caching
temp/

# default output directories
classes/
deploy/
javadoc/

# lock file, a part of Oracle Credential Store Framework
cwallet.sso.lck

### IDEA ###

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

.idea
.kotlin

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.

*.iml
*.ipr

# CMake
cmake-build-*/

# File-based project format
*.iws

# IntelliJ
out/

# JIRA plugin
atlassian-ide-plugin.xml


# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### Java ###

# Compiled class file
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
!licenses/*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### macOS ###
# General
.AppleDouble
.LSOverride
.DS_Store

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

### Gradle ###

.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache

# Eclipse Gradle plugin generated files
# Eclipse Core
.project
# JDT-specific (Eclipse Java Development Tools)
.classpath

### Misc ###

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
jspm_packages/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache

# Next.js build output
.next

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and *not* Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
out

# Yarn
yarn.lock

# gradle
/tests
/build
/.gradle

# Other
*.asc

### ServerPackCreator ###
configs
modpacks
plugins
server-packs
server_files
work
licenses/*
!licenses/.gitkeep

# ServerPackCreator Exampel Plugin
serverpackcreator-plugin-example/tests/*
!serverpackcreator-plugin-example/tests/.gitkeep

# ServerPackCreator Web
serverpackcreator-web-frontend/.quasar/
serverpackcreator-web-frontend/dist/
serverpackcreator-web-frontend/node_modules/
serverpackcreator-web-frontend/node/
serverpackcreator-web-frontend/.frontend-gradle-plugin
serverpackcreator-app/serverpackcreator.db
docker-compose-dev.yml

.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist
/quasar.config.*.temporary.compiled*

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# local .env files
.env.local*


# ServerPackCreator App
serverpackcreator-app/tests/*
!serverpackcreator-app/tests/.gitkeep
serverpackcreator-app/src/main/resources/static/*
!serverpackcreator-app/src/main/resources/static/.gitkeep

# ServerPackCreator API
serverpackcreator-api/src/main/resources/CHANGELOG.md
serverpackcreator-api/src/main/resources/CODE_OF_CONDUCT.md
serverpackcreator-api/src/main/resources/CONTRIBUTING.md
serverpackcreator-api/src/main/resources/HELP.md
serverpackcreator-api/src/main/resources/LICENSE
serverpackcreator-api/src/main/resources/README.md
serverpackcreator-api/src/main/resources/SECURITY.md
serverpackcreator-api/main/resources/VERSION.txt
serverpackcreator-api/tests/*
!serverpackcreator-api/tests/.gitkeep
serverpackcreator-api/src/test/resources/forge_tests_copy/
serverpackcreator-api/src/test/resources/fabric_tests_copy/
serverpackcreator-api/src/test/resources/legacyfabric_tests_copy/
serverpackcreator-api/src/test/resources/quilt_tests_copy/
serverpackcreator-api/src/test/resources/fabric_tests_server_pack.zip
serverpackcreator-api/src/test/resources/forge_tests_server_pack.zip
serverpackcreator-api/src/test/resources/quilt_tests_server_pack.zip

# ServerPackCreator Writerside
serverpackcreator-help/Writerside/topics/CHANGELOG.md
serverpackcreator-help/Writerside/topics/CODE_OF_CONDUCT.md
serverpackcreator-help/Writerside/topics/CONTRIBUTING.md
serverpackcreator-help/Writerside/topics/HELP.md
serverpackcreator-help/Writerside/topics/LICENSE.md
serverpackcreator-help/Writerside/topics/README.md
serverpackcreator-help/Writerside/topics/SECURITY.md

# ServerPackCreator
media
appimage
/serverpackcreator-web-frontend/.frontend-gradle-plugin/
