<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>
          ${console-pattern}
        </Pattern>
      </PatternLayout>
    </Console>

    <RollingFile fileName="${log-path}/serverpackcreator.log" filePattern="${archive}/serverpackcreator.log.%i"
      name="ApplicationLogger">
      <DefaultRolloverStrategy max="5"/>
      <PatternLayout>
        <Charset>
          ${charset}
        </Charset>
        <Pattern>
          ${pattern}
        </Pattern>
      </PatternLayout>
      <Policies>
        <OnStartupTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>
    </RollingFile>

    <RollingFile fileName="${log-path}/modloader_installer.log" filePattern="${archive}/modloader_installer.log.%i"
      name="InstallerLogger">
      <DefaultRolloverStrategy max="5"/>
      <PatternLayout>
        <Charset>
          ${charset}
        </Charset>
        <Pattern>
          ${pattern}
        </Pattern>
      </PatternLayout>
      <Policies>
        <OnStartupTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>
    </RollingFile>

    <RollingFile fileName="${log-path}/addons.log" filePattern="${archive}/addons.log.%i"
      name="AddonsLogger">
      <DefaultRolloverStrategy max="5"/>
      <PatternLayout>
        <Charset>
          ${charset}
        </Charset>
        <Pattern>
          ${pattern}
        </Pattern>
      </PatternLayout>
      <Policies>
        <OnStartupTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Logger additivity="false" level="ALL" name="de.griefed.serverpackcreator">
      <AppenderRef level="${log-level-spc}" ref="Console"/>
      <AppenderRef level="${log-level-spc}" ref="ApplicationLogger"/>
    </Logger>

    <Logger additivity="false" level="ALL" name="InstallerLogger">
      <AppenderRef level="${log-level-spc}" ref="InstallerLogger"/>
    </Logger>

    <Logger additivity="false" level="ALL" name="AddonsLogger">
      <AppenderRef level="${log-level-spc}" ref="AddonsLogger"/>
    </Logger>

    <Root level="ALL">
      <AppenderRef level="${log-level}" ref="Console"/>
      <AppenderRef level="${log-level}" ref="ApplicationLogger"/>
    </Root>
  </Loggers>

  <Properties>
    <Property name="log-path">logs</Property>
    <Property name="archive">${log-path}/archive</Property>
    <Property name="pattern">%d{ISO8601} %5p [%t] (%F:%L) - %m%n</Property>
    <Property name="console-pattern">%style{%d{ISO8601}}{dim,white} %highlight{%5p}
      [%style{%t}{bright,blue}] %style{(%F:%L)}{bright,yellow} - %m%n
    </Property>
    <Property name="log-level">INFO</Property>
    <Property name="log-level-spc">INFO</Property>
    <Property name="charset">UTF-8</Property>
  </Properties>
</Configuration>
