[Desktop Entry]
Name=ServerPackCreator
Comment=Create server packs from Minecraft Forge, Fabric, Quilt or LegacyFabric modpacks.
GenericName[en_US]=Create server packs from Minecraft Forge, Fabric, Quilt or LegacyFabric modpacks.
GenericName[en_GB]=Create server packs from Minecraft Forge, Fabric, Quilt or LegacyFabric modpacks.
Exec=/opt/serverpackcreator/bin/ServerPackCreator
Icon=/opt/serverpackcreator/lib/ServerPackCreator.png
Terminal=false
Type=Application
Categories=Utility;FileTools;Java;
MimeType=