<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %5p [%t] (%F:%L) - %m%n" />
        </Console>
		<RollingFile name="ApplicationLogger" fileName="logs/action.log" filePattern="logs/action.log.%i">
            <PatternLayout pattern="%d{ISO8601} %5p [%t] (%F:%L) - %m%n" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
        <RollingFile name="ErrorLogger" fileName="logs/error.log" filePattern="logs/error.log.%i">
            <PatternLayout pattern="%d{ISO8601} %5p [%t] (%F:%L) - %m%n" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="ApplicationLogger" level="info" />
            <AppenderRef ref="ErrorLogger" level="error"/>
        </Root>
    </Loggers>
</Configuration>