name: Deploy javadocs to GitHub pages

on:
  push:
    branches:
      - main
      - master
      - webservice
  workflow_dispatch:

jobs:
  pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest code
        uses: actions/checkout@master
        with:
          fetch-depth: 0

      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '8'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build documentation
        run: ./gradlew clean build -Pversion='' -x test

      - uses: actions/upload-artifact@v3
        with:
          name: build-artifacts
          path: build/docs/javadoc/
          if-no-files-found: warn # 'warn' or 'ignore' are also available, defaults to `warn`

      # DEPLOY TO GH-PAGES
      - name: Deploy to GitHub-Pages
        uses: JamesIves/github-pages-deploy-action@v4.2.5
        with:
          branch: gh-pages
          folder: build/docs/javadoc
