name: Test

on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: "build"
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v6

      - name: Get branch name
        id: branch-name
        uses: tj-actions/branch-names@v9.0.2

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '21'
          check-latest: true
          cache: 'gradle'

      - uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: wrapper

      - name: Set Permissions
        run: |
          chmod +x gradlew

      - name: Build with Gradle
        run: |
          ./gradlew -Pversion="${{ steps.branch-name.outputs.current_branch }}" build --info --full-stacktrace

      - uses: actions/upload-artifact@v6
        if: ${{ always() }}
        with:
          name: jar-and-media
          path: |
            build
            buildSrc/build
            serverpackcreator-api/build
            serverpackcreator-app/build
            serverpackcreator-web-frontend/dist
            serverpackcreator-plugin-example/build
          if-no-files-found: warn # 'warn' or 'ignore' are also available, defaults to `warn`
